out/
.idea/*
Analista/.idea/*
CloudServer/.idea/*
EdgeNode/.idea/*
Sensor/.idea/*
Analista/target/classes/*
CloudServer/target/classes/*
EdgeNode/target/classes/*
Sensor/target/classes/*
Analista/target/maven-dependencies/*
CloudServer/target/maven-dependencies/*
EdgeNode/target/maven-dependencies/*
Sensor/target/maven-dependencies/*

